.btn{
    background: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
}
.btn:hover{
    color: aliceblue;
    background-color: #010b28;
    transition-duration: 0.7s;
    transform: translateY(-7px);
}
.btn:not(:hover) {
    transition-duration: 0.7s;
    transform: translateY(0);
}