.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
    color: #604106;
}
.card a{
    width: 32%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.card img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
}
.card img:hover{
    transition-duration: 0.7s;
    transform: translateY(-7px);
    scale: 1.05;
}
.image:not(:hover) {
    transition-duration: 0.7s;
    transform: translateY(0);
}
.card section{
    background: #FDFBFB;
    width: 32%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
}
.card h3{
    font-size: 1.8rem;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
}
.card p{
    font-size: 1.1rem;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
}